h1{
    text-align: center;
    padding: auto;
    margin:auto;
    color:darkmagenta
}

h2{
    color:darkorchid
}

body{
    padding: 30px;
    margin: 10px;
    background-color: lightgray; 
    color: darkblue
}

a{
    color:blue; 
    
}




