h1{
    text-align: center;
    color:darkmagenta;
    background-color: yellowgreen;
}

h2{
    color:darkgreen
}

body{
    background-color: orange;
    margin: 20px;
    padding: 20px;
}

div{
    background-color: rgb(224, 226, 101); 
    color: darkblue
}

a{
    color:blue; 
    
}




